<head>
<!-- Link Bootstrap, Font Awesome & CSS Start -->
  <link href="../Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../Content/css/bootstrap-social.css" rel="stylesheet" type="text/css">
  <link href="../Content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../Content/css/styles.css" rel="stylesheet" type="text/css">
<!-- Link Bootstrap, Font Awesome & CSS End -->
  <title>Address Book</title>
</head>
<body>
  <h1 class="page-header">You created a contact!</h1>
  <h2>@Model.GetName()</h2>
  <ul>
    <li>@Model.GetPhoneNumber</li>
    <li>@Model.GetEmailAddress</li>
    <li>@Model.GetStreetAddress, @Model.GetStateAddress</li>
  </ul>
  <h2><a href="/contacts">Current Contacts List</a></h2>
</body>
